---
import { GOOGLE_FORM_WAITLIST_URL } from "../constants";
import Logo from "./Logo.astro";
---

<header>
  <div class="inner">
    <Logo />
    <nav class="nav">
      <a class="link" href="/news">News</a>
      <a class="link" href={GOOGLE_FORM_WAITLIST_URL} target="_blank"
        >Auf die Warteliste</a
      >
    </nav>
  </div>
</header>

<style>
  header {
    inline-size: 100%;
    background: linear-gradient(
      to bottom,
      var(--color-surface-base),
      transparent
    );
  }

  .inner {
    inline-size: var(--dynamic-content-width);
    margin-inline: auto;
    padding-inline: var(--spacing-far);
    padding-block: var(--spacing-far);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    gap: var(--spacing-far);
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
