---
import logo from "@readii/assets/icons/app/svg";
import { getCollection } from "astro:content";
import { dayMonthYearTimeFormat, m } from "../utils";
import { Image } from "astro:assets";

const data = await getCollection("blueskyPosts");
---

<div class="container">
  {
    data.map(({ data: post }) => {
      const publishedAt = new Date(post.publishedAt);

      return (
        <article class="item">
          <div class="logo">
            <Image src={logo} alt="" class="img" />
          </div>
          <div class="main">
            <time datetime={publishedAt.toISOString()} class="meta">
              {publishedAt ? dayMonthYearTimeFormat.format(publishedAt) : ""}
            </time>
            <p class="content">
              <Fragment set:html={post.content} />
            </p>
            <div class="actions">
              <a
                href={post.url}
                target="_blank"
                rel="noopener noreferrer"
                class="link"
              >
                {m("feed_item_link", Astro.currentLocale)}
              </a>
            </div>
          </div>
        </article>
      );
    })
  }
</div>

<style>
  .container {
    margin-inline: auto;
    inline-size: min(100%, 60ch);
    padding-inline: var(--spacing-base);
    margin-block: var(--spacing-base);
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    gap: var(--spacing-base);
    padding-block: var(--spacing-far);
    border-block-end: var(--border-width-thin) solid var(--color-border-base);
  }

  .meta {
    font-family: var(--font-family-default);
    font-size: var(--font-size-small);
    color: var(--color-text-subtle);
    text-box: trim-both cap text;
  }

  .content {
    min-inline-size: 0;
    word-break: break-word;
    text-wrap: pretty;
    white-space: pre-wrap;
    margin-block-start: var(--spacing-near);
    font-size: var(--font-size-large);
  }

  .logo {
    inline-size: 42px;
    block-size: 42px;
    flex-shrink: 0;
  }

  .main {
    flex-grow: 1;
  }

  .img {
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--border-radius-round);
    border: var(--border-width-thin) solid var(--color-border-base);
  }

  .actions {
    display: flex;
    justify-content: end;
    margin-block-start: var(--spacing-base);
    font-size: var(--font-size-small);
    color: var(--font-text-subtle);
  }

  .link {
    color: var(--color-text-subtle);
  }
</style>
