---
import Header from "../../components/Header.astro";
import Posts from "../../components/Posts.astro";
import Layout from "../../layouts/Layout.astro";
import { m } from "../../utils";
---

<Layout title={m("head_title_news", Astro.currentLocale)}>
    <Header />
    <main>
        <Posts/>
    </main>
</Layout>