@layer theme, colors, reset, base, layout;

@import "./styles/theme.css";
@import "./styles/colors.css";
@import "./styles/media.css";
@import "./styles/reset.css";
@import "./styles/base.css";
@import "./styles/layout.css";

/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --font-family-mono: monospace;
  --font-family-sans: system-ui, sans-serif;
  --font-family-serif: Georgia, serif;
  --font-family-display: "DM Serif Display", Georgia, serif;
  --font-family-default: var(--font-family-serif);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-family-display);
}

button {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-strong);
  background-color: var(--color-brand-primary-base);
  padding-inline: var(--spacing-base);
  border-radius: var(--border-radius-medium);
}
